body>main{
    width: 1170px;
    margin:0 auto;
}
body>.base_main{
    padding-top:10px;
    position: relative;
    top:-14px;
    display: grid;
    grid-template-columns: 200px auto;
    /* background-color: red; */
}
body>.base_main .base_menu dl dt  {
    color: #ce2a2b;
    font-size: 23px;
    line-height: 60px;
    font-weight: 400;
    background-color: #ebebebb2;
}
body>.base_main .base_menu dl dd {
    font-size: 16px;
    line-height: 60px;
    font-weight: 400;
    background-color: #fff;
    box-shadow: 0 1px 1px #ccc;
    position: relative;
    padding-left: 10px;
    margin-bottom: 1px;
}
body>.base_main .base_menu dl dd a{
    display: block;
    color: #000;
    text-decoration: none;
}
body>.base_main .base_menu dl dd.active::before{
    content:'';
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: #ce2a2b;
    top: 0;
    left: 0;
}
body>.base_main .base_menu dl dd.active::after{
    content:'';
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 10px solid red;
    border-bottom: 5px solid transparent;
}
body>.base_main .base_menu dl dt  span{
    display: inline-block;
    padding-left: 15px;
}
body>.base_main .base_content{
    padding: 0 20px;
}
body>.base_main .base_content .guide{
    line-height: 60px;
    border-bottom: 1px solid #ccc;
}
body>.base_main .base_content .guide .title{
    float: left;
    font-size: 18px;
}
body>.base_main .base_content .guide .guide_page{
    float: right;
}



@media (max-width: 707px){
    body>.base_main{
        display: block;
        width: 100%;
        top:-93px;
    }
}


@media (max-width: 1190px){
    body>main{
        width: 100%;
    }
}