/* 大事记 */
.content {
    height: 2300px;
    background: url(../imgs/dsj_bg.png) repeat;
}
.content>div {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}
div.info-block {
    margin: 0 auto;
    width: 80%;
    padding: 10px;
    font-size: 18px;
    line-height: 30px;
    border-radius: 20px;
    color: #fff;
    background-color: #30344F;
    box-shadow: 5px 5px 5px #888;
}
.content .year {
    position: relative;
    padding: 0 10px;
}
.img-box img {
    width: 100%;
}
.r2l-box {
    overflow: hidden;
}
.r2l-box>div {
    float: left;
    width: 50%;
    text-align: right;
}
.l2r-box {
    overflow: hidden;
    transform: translateX(2px);
}
.l2r-box>div {
    float: right;
    width: 50%;
}

.r2l {
    padding: 30px 0;
    border-left: 2px solid #B81D19;
}

.l2r {
    border-right: 2px solid #B81D19;
}
.radius {
    position: absolute;
    top: 30px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #B81D19;
}
.r2l-box .radius {
    right: -10px;
}
.l2r-box .radius {
    left: -10px;
}

@media (max-width:1200px) {
    .content {
        height: 2200px;
    }
    .r2l {
        padding: 24px 0;
    }
}
@media (max-width:1080px) {
    .content {
        height: 2150px;
    }
    .r2l {
        padding: 22px 0;
    }
}
@media (max-width:920px) {
    .content {
        height: 2200px;
    }
    .r2l {
        padding: 18px 0;
    }
}
@media (max-width:900px) {
    .content {
        height: 2300px;
    }
    .r2l {
        padding: 16px 0;
    }
}
@media (max-width:770px) {
    body>.base_head {
        position: static;
        height: 60px;
    }
    .content {
        height: 1900px;
    }
    .t2b {
        display: none;
    }
    .r2l,
    .l2r {
        padding: 14px 0;
        width: 100%!important;
        border: 0;
    }
    
}
@media (max-width:630px) {
    .content {
        height: 2000px;
    }
    .r2l {
        padding: 12px 0;
    }
}
@media (max-width:540px) {
    .content {
        height: 2000px;
    }
    .r2l {
        padding: 10px 0;
    }
}
@media (max-width:450px) {
    .content {
        height: 2200px;
    }
    .r2l {
        padding: 8px 0;
    }
}
@media (max-width:400px) {
    .content {
        height: 2350px;
    }
    .r2l {
        padding: 6px 0;
    }
}
@media (max-width:350px) {
    .content {
        height: 2520px;
    }
    .r2l {
        padding: 2px 0;
    }
}