.media>div{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;

}
.media1tab,.media1>div:first-child{
    height: 65px;
    /* padding: 0 13px 0 15px; */
    width: 98%;
    font-size: 13px;
    display: table;
    cursor: pointer;
    border-left: 5px solid #f3f3f3;
    vertical-align: middle;
    position: relative;
}
.media1>div:first-child{color: #ce2a2b;font-size:23px;}
.media1>div>span{
    display: table-cell;
    vertical-align: middle;
    padding:10px 10px  0 10px;
    
}
.media1{
    width: 21%;
    max-width: 230px;
    background: #f3f3f3;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 1px 0 0 #f3f3f3;
    float: left;
}
.media1 .thisbg{background: white;border-color: #ce2a2b;}
.media1 .iconfont{
    font-size: 15px;
}
.media1 .iconfont>div{
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 10px solid #ce2a2b;
    border-bottom: 5px solid transparent;
    
}
.media2{
    width: 77%;
    float: right;
}
.media2 > p{
    font-size: 13px;
    color: #666;
    margin-bottom: 16px;
}
.media2 > .title{
    height: 65px;
    line-height: 65px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    color: #000;
}
.media2 > .title >span{float: right;font-size: 13px;color: #444;}
.media2 > div{
    padding: 28px 0;
    border-bottom: 1px solid #ddd;
}
.media2>.screen{border: none;}
.media2 img{
    width: 150px;
    height: 100px;
    vertical-align: middle;
}
.media2 img+div{
    display: inline-block;
    vertical-align: middle;
    width: 73%;
    font-size: 13px;
    color: #717171;
}
.media2 img+div>a{color: #717171;}
.media2 h4{font-size: 16px;color: #222;padding-bottom: 5px;}
.media2>span{
    float: right;
    display: block;
    margin: 40px 0;
    height: 33px;
    border: 1px solid #e2e2e2;
    border-left: none;
}
.media2>span>a{
    height: 100%;
    display: block;
    width: 31px;
    text-align: center;
    float: left;
    line-height: 31px;
    color: #ca1617;
    border-left: 1px solid #e2e2e2;
    font-size: 15px;
}
.media2>span>a:first-child{color: white;background: #ca1617;}
.thisnone{display: none;}
.media2>img{width: 100%;height: 100%;}
.job>div{
    width: 100%;
    max-width: 1100px;
    margin: 30px auto 0 auto;
    overflow: hidden;
}
.job1>img{
    width: 100%;
}
.job1{
    float: left;
    width: 256px;
    color: #666;
}
.job1 p{
    font-size: 12px;
    color: #666;
    margin: 10px 0 0 0;
}
.job2{padding-left: 300px;}

.job2>h1{
    font-weight: 500;
    font-size: 22px;
    color: #ca1617;
}

.job2>p{
    line-height: 50px;
    color: #555;
    font-size: 13px;
}

.job2>div>p{
    color: #555;
    font-size: 13px;
}
.job2>div>span{color: #ca1617;line-height: 40px;}

.job2>div{
    padding: 25px 0;
    border-top: 1px dashed #ccc;
}
.job2-3{text-align: center;}
.job2-3>a{
    display: inline-block;
    width: 111px;
    height: 34px;
    color: white;
    background: #ca1617;
    line-height: 34px;
    margin: 10px 5px;
}
.media1tab + .media1tab1 > a{
    display: block;
    padding-left: 25px;
    font-size: 13px;
    color: #666;
    line-height: 26px;
}
.media1tab + .media1tab1 > .thiscl{
    color: #ca1617;
}
.media1tab + .media1tab1{
    height: 0;
    overflow: hidden;
}
.media1tab + .media1tab1first{
    height: 100%;
}
.media2>.cpyj img{
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
}
.media2>.cpyj p{
    font-size: 13px;
    color: #555;
    padding-bottom: 60px;
}
.cpyj > div{display: none;}
.cpyj > .thisone{display: block;}
.media3{float: right;width: 77%;}
.screen{font-size: 13px;}
.screen1>p{display: inline-block;margin:15px 10px 0 0;}
.screen1>p>a{
    display: inline-block;
    color: #535353;
    padding: 2px 12px;
}
.screen1>p>a:first-child{
    color: white;
    background: #ca1617;
}
.screen2{
    border-top: 1px solid #ddd;
    padding: 19px 0;
    font-size: 15px;
    overflow: auto;
    color: #333;
}
.screen2blod{font-weight: 600;margin-top: 30px;}
.screen2>div{
    width: 50%;
    float: left;
}
.screen2>div>div{
    width: 33.333%;
    float: left;
}
.centent{padding-right: 10px;}
.dsjbot{display: block;height: 100%;width: 100%;position: absolute;}
.centent > a{color: #333;}






.show-banner>div>div>div>a{
    height: .14rem;
    max-height: 165px;
}
.show-banner{
    position: relative;
    overflow: hidden;
}
.show-banner>div{
    width: 33.3333333%;
    position: relative;
}
.show-banner>div>div{
    width: 10000%;
    overflow: auto;
    margin-bottom: 20px;
    position: relative;
}
.show-banner>div>div>div{
    width: 1%;
    float: left;
    font-size: 13px;
    color: #333;
    position: relative;
    z-index: 1;
}
.show-banner>div>div>div .picture_title{
    box-sizing:border-box;
	width:100%;
	display: block;
    position: absolute;
    z-index: 10;
    color: #ccc;
    font-size: 14px;
    line-height: 20px;
    bottom: 10px;
	padding: 0 10px;
}
.show-banner>div>div>div:hover .picture_title{
    color: #fff;
}
.show-banner>div>div>div:hover .transition{
    background: none;
}
.show-banner>div>div>div img{
   transition: all 0.5s ease 0s
}
.show-banner>div>div>div:hover img{
    transform: scale(1.1);
    transition: .8s transform;
    z-index: -100;
}
.show-banner .picture_title>span{
    display: block;
}
.show-banner .picture_title>span:first-child{
    font-weight: 500;
    font-size: 15px;
}
.show-banner img{
    width: 70%;
    height: 70%;
}
.show-banner a+p{
    line-height: 36px;
}

.show-banner-find>a{
    position: absolute;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background: #ca1617;
    color: white;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    border-radius: 30px;
    font-size: 24px;
}
.media3 > .show-banner-find > a{
    margin: 0;
    background: none;
    color: #555;
    top: -70px;
    font-size: 30px;
    width: auto;
    font-weight: bold;
}
.show-banner-find > p{
    color: #ce2a2b;
    position: absolute;
    top: -60px;
    font-size: 20px;
}
.media3 > .show-banner-find > a:hover{color: red;}
.media3 > .show-banner-find{margin-top: 24px;}
.show-banner-find>.first-a{left: -80px;}
.show-banner-find>.first-a2{right: -80px;}
.media3 > .show-banner-find > .first-a{right: 50px;left: auto;}
.media3 > .show-banner-find > .first-a2{right: 20px;}
.show>div>div>a:hover{background: #333}
.show-banner-find{position: relative;}