
.media-left div a {
    color: #000;
    text-decoration: none;
}
.media-left .active {
    background: #fff;
}
.list-right h4 {
    font-weight: bold;
    color: #551a8b;
}
.word-wrapper {
    padding-top: 43px;
}
.join-wrapper {
    padding-top: 43px;
}
.join-wrapper .table>tbody>tr>td,
.join-wrapper .table>thead>tr>th {
    height:42px;
    line-height: 42px;
}
.join-wrapper .table>thead>tr {
    border-top: 1px solid #ddd;
}
@media only screen and (min-width:1190px) {
    .xu-media-wrapper {
        width: 100%;
    }
    .xu-media-wrapper .media {
        width: 1100px;
        margin: 0 auto;
        display: flex;
    }
    .media-left {
        width: 20.9%;
    }
    .media-left div {
        width: 100%;
        padding-left: 26px;
        height: 65px;
        line-height: 65px;
        color: #ce2a2b;
        font-size: 23px;
        background: #f3f3f3;
    }
    .media-right {
        width: 79.1%;
    }
    .list {
        width: 100%;
        display: flex;
        padding: 28px 0;
        border-bottom: 1px solid #ddd;
    }
    .list-right {
        padding-left: 5px;
    }
    .word-wrapper {
        width: 100%;
    }
    .article {
        width: 100%;
    }
    .article div {
        width: 100%;
    }
    
}

@media only screen and ( min-width: 768px) and ( max-width: 1190px) {
    .xu-media-wrapper .media {
        width: 100%;
        display: flex;
    }
    .media-left {
        width: 20.9%;
    }
    .media-left div {
        width: 100%;
        padding-left: 26px;
        height: 65px;
        line-height: 65px;
        color: #ce2a2b;
        font-size: 23px;
        background: #f3f3f3;
    }
    .media-left div a {
        font-size: 16px;
        color: #000;
        text-decoration: none;
    }
    
    .media-right {
        width: 79.1%;
    }
    .list {
        width: 100%;
        display: flex;
        padding: 28px 0;
        border-bottom: 1px solid #ddd;
    }
    .list-right {
        padding-left: 5px;
    }
    .word-wrapper {
        width: 79.1%;
    }
    .article {
        width: 100%;
    }
    .article div {
        width: 100%;
    }
}

@media only screen and (min-width:500px) and (max-width:768px) {
    .xu-media-wrapper {
        width: 100%;
    }
    .xu-media-wrapper .media {
        width: 100%;
        
    }
    .xu-media-wrapper .media .media-left {
        display: block;
        width: 100%;
        background: #f3f3f3;
    }
    .xu-media-wrapper .media .media-left div {
        display: block;
        box-sizing: border-box;
        width: 100%;
        padding-left: 26px;
        height: 65px;
        line-height: 65px;
        color: #ce2a2b;
        font-size: 23px;
        background: #f3f3f3;
    }
    .media-right {
        width: 100%;
    }
    .list {
        width: 100%;
        display: flex;
        padding: 28px 0;
        border-bottom: 1px solid #ddd;
    }
    .list-right {
        padding-left: 5px;
    }
    .word-wrapper {
        width: 100%;
    }
    .article {
        width: 100%;
    }
    .article div {
        width: 100%;
    }
}


@media only screen and (max-width:500px) {
    .xu-media-wrapper {
        width: 100%;
    }
    .xu-media-wrapper .media {
        width: 100%;
        
    }
    .xu-media-wrapper .media .media-left {
        display: block;
        width: 100%;
        background: #f3f3f3;
    }
    .xu-media-wrapper .media .media-left div {
        display: block;
        box-sizing: border-box;
        width: 100%;
        padding-left: 26px;
        height: 65px;
        line-height: 65px;
        color: #ce2a2b;
        font-size: 23px;
        background: #f3f3f3;
    }


    .list {
        display: block;
        padding: 28px 0;
        border-bottom: 1px solid #ddd;
    }
    .list img {
        width: 60%;
        height: 60%;
        margin: auto;
    }
    .list-right h4 {
        font-weight: bold;
        color: #551a8b;
    }

    .article {
        width: 100%;
    }
    .article div {
        width: 100%;
    }
}

/* 逐梦人 */
.future {
    height: 40px;
    margin-bottom: 20px;
    color: rgb(202, 22, 23);
    font-size: 16px;
    line-height: 40px;
    border-bottom: 1px dashed #ddd;
}

.article {
    color: rgb(85, 85, 85);
}
.article-a { 
    line-height: 27px;
    font-size: 14px;
}
.art-b {
    color: #4b0082;
    margin: 27px 0 40px;
}
.art-c {
    margin-bottom: 40px;
}
.art-d {
    color: #4b0082;
    margin-bottom: 10px;
}
/* 加入太格 */
.job {
    display: flex;
}
.job ul {
    display: flex;
}
.job-b {
    margin-bottom: 15px;
}
.job li {
    padding: 2px 12px;
}
.job .all {  
    color: #fff;
    background: #ca1617;
}