
@import 'base1.css';

.h4 {
    line-height: 36px;
    border-bottom: 1px dashed #ccc;
    font-size: 16px;
    color: #CA1617;
}
.paragraph {
    margin: 26px 0 28px;
    line-height: 26px;
    font-size: 14px;
    color: #555;
}
.paragraph span {
    display: block;
    line-height: 26px;
    font-size: 14px;
    color: #555;
}

.col-sm-3,.col-sm-9 {
    padding: 0;
}